<template>
  <v-container>
    <v-row>
      <v-col lg="6">
        <img src="./../assets/img/PngItem_1887596.png" width="100%" />
      </v-col>
      <v-col lg="6">
        <v-subheader class="text-h4">About Us</v-subheader>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
          totam error, doloribus ex dignissimos recusandae debitis, quas placeat
          neque maiores libero! Sequi repellat ullam, eligendi asperiores illum
          modi labore delectus.
        </p>

        <v-list>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet consectetur adipisicing
              elit.</v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Nobis iure
              maiores repellat vero, corporis, repudiandae voluptatum blanditiis
              esse ratione inventore deleniti atque aperiam tempora maxime fugit
              totam eligendi, vel aspernatur.</v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet consectetur
              adipisicing</v-list-item-subtitle
            >
          </v-list-item>
        </v-list>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
          inventore officiis illum eum. Quae iure minima, dignissimos voluptatum
          mollitia rem? Autem ipsum repellendus temporibus, nulla hic dolorem
          molestias voluptatem ullam.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "AppAboutus",
};
</script>


<style scoped>
</style>