<template>
  <v-container class="pt-15">
    <v-row>
      <v-col lg="6">
        <h2 class="intro-text">Welcome to our Vuetify App</h2>
        <p class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
          architecto aspernatur eaque accusantium sequi? Explicabo eius, illum
          ea aperiam id voluptatum iste mollitia sequi, corrupti, accusantium ex
          magni quos omnis.
        </p>

        <v-row class="mt-5">
          <v-btn color="success" rounded class="white--text mr-md-10 mr-sm-1">
            <v-icon>mdi-gauge-full</v-icon> Get started
          </v-btn>
          <v-btn color="indigo" rounded class="white--text">
            <v-icon>mdi-play-circle</v-icon> Watch video
          </v-btn>
        </v-row>
      </v-col>
      <v-col lg="6">
        <img src="../assets/img/isometric-profile-768x726.png" width="100%" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "AppHero",
};
</script>


<style scoped>
h2.intro-text {
  font-size: 60px;
  font-style: normal !important;
  font-weight: normal !important;
  font-family: "Nunito", sans-serif !important;
  color: #444;
}
</style>