<template>
  <v-container class="my-15">
    <v-row justify="center">
      <v-col lg="12" class="" text-center>
        <v-subheader class="text-h4 justify-center">Portfolio</v-subheader>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          voluptate accusantium, harum veritatis excepturi assumenda fuga facere
          sint ipsam beatae nihil sequi, rem est sunt asperiores in, iure
          repellat non!
        </p>
      </v-col>

      <v-col lg="12">
        <div class="text-center">
          <v-chip
            @click="activePortfolio = 'webapp'"
            :color="activePortfolio == 'webapp' ? 'success' : ''"
            class="mx-5"
            >Web App</v-chip
          >
          <v-chip
            @click="activePortfolio = 'mobileapp'"
            :color="activePortfolio == 'mobileapp' ? 'success' : ''"
            class="mx-5"
            >Mobile App</v-chip
          >
          <v-chip
            @click="activePortfolio = 'desktopapp'"
            :color="activePortfolio == 'desktopapp' ? 'success' : ''"
            class="mx-5"
            >Desktop App</v-chip
          >
        </div>
      </v-col>
      <slot v-if="activePortfolio == 'webapp'">
        <v-col lg="3" v-for="(webApp, indexWeb) in webApps" :key="indexWeb">
          <v-card>
            <v-img
              :src="webApp.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              width="100%"
              height="200px"
            >
              <v-card-title v-text="webApp.title"></v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </slot>

      <slot v-if="activePortfolio == 'mobileapp'">
        <v-col
          lg="3"
          v-for="(mobileApp, indexMobile) in mobileApps"
          :key="indexMobile"
        >
          <v-card>
            <v-img
              :src="mobileApp.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              width="100%"
              height="200px"
            >
              <v-card-title v-text="mobileApp.title"></v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </slot>

      <slot v-if="activePortfolio == 'desktopapp'">
        <v-col
          lg="3"
          v-for="(desktopApp, indexDesktop) in desktopApps"
          :key="indexDesktop"
        >
          <v-card>
            <v-img
              :src="desktopApp.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              width="100%"
              height="200px"
            >
              <v-card-title v-text="desktopApp.title"></v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </slot>
    </v-row>
  </v-container>
</template>


<script>
export default {
  name: "AppPortofolio",
  data: () => {
    return {
      activePortfolio: "webapp",
      webApps: [
        {
          title: "Web App 1",
          src: "https://cdn.dribbble.com/users/8674018/screenshots/16144578/media/dc1f066a0c12cec0d0f1859679213668.png",
        },
        {
          title: "Web App 2",
          src: "https://cdn.dribbble.com/users/13307/screenshots/17777832/media/ffeee88c5746a3118c515bd287d9c4ee.jpg",
        },
        {
          title: "Web App 3",
          src: "https://cdn.dribbble.com/users/1615584/screenshots/17075020/media/5783c5ee1636fcefe9a180cd4cc6c360.jpg",
        },
        {
          title: "Web App 4",
          src: "https://cdn.dribbble.com/users/1126502/screenshots/17341442/media/cd0d9715076f5884a18761430cdcb1cb.png",
        },
        {
          title: "Web App 5",
          src: "https://cdn.dribbble.com/users/1615584/screenshots/17075020/media/c401c884d9192c99ece91bbcd55f4b86.jpg",
        },
        {
          title: "Web App 6",
          src: "https://cdn.dribbble.com/users/702789/screenshots/15916650/media/ec203705bbc00f7338ba4e356b2c8af9.png",
        },
        {
          title: "Web App 7",
          src: "https://cdn.dribbble.com/users/702789/screenshots/17358843/media/f458d0c55cb92fb6d967da0f19184545.png",
        },
        {
          title: "Web App 8",
          src: "https://cdn.dribbble.com/users/1998175/screenshots/16726900/media/fb08152bdb082f99ae93b19905cb2a43.png",
        },
      ],

      mobileApps: [
        {
          title: "Mobile App 1",
          src: "https://cdn.dribbble.com/users/13307/screenshots/14121450/media/7800e9636b7521a7a18719d969094976.jpg",
        },
        {
          title: "Mobile App 2",
          src: "https://cdn.dribbble.com/users/702789/screenshots/14981308/media/07fc29b17c3f10bf1c5689b107178af6.png",
        },
        {
          title: "Mobile App 3",
          src: "https://cdn.dribbble.com/users/702789/screenshots/15902223/media/81c61c43f09cc5fd9e3ffafd0274e933.png",
        },
        {
          title: "Mobile App 4",
          src: "https://cdn.dribbble.com/users/702789/screenshots/15487422/media/b1bdbc126699b7cdad71af724103d51d.png",
        },
      ],

      desktopApps: [
        {
          title: "Desktop App 1",
          src: "https://cdn.dribbble.com/users/2153376/screenshots/17009268/media/1a0cb9e60c4a411b0df7474d8dab3454.jpg",
        },
        {
          title: "Desktop App 2",
          src: "https://cdn.dribbble.com/users/1544818/screenshots/15168054/media/65779578ba51ecf2280f9a0ee42d079f.png",
        },
        {
          title: "Desktop App 3",
          src: "https://cdn.dribbble.com/users/1544818/screenshots/15498327/media/0969f6ee905e0f38e6992a79c382692a.png",
        },
      ],
    };
  },
};
</script>


<style scoped>
</style>