<template>
  <v-app>
    <app-header />
    <v-main>
      <app-hero />
      <app-aboutus />
      <app-portfolio />
    </v-main>
  </v-app>
</template>

<script>
import AppHeader from "./components/Header";
import AppHero from "./components/Hero";
import AppAboutus from "./components/Aboutus";
import AppPortfolio from "./components/Portfolio";

export default {
  name: "App",

  components: { AppHeader, AppHero, AppAboutus, AppPortfolio },

  data: () => {
    return {
      menus: [
        { title: "Home", route: "home" },
        { title: "About us", route: "about" },
        { title: "Portfolio", route: "portfolio" },
        { title: "Project", route: "project" },
        { title: "Contact", route: "contact" },
      ],
    };
  },
};
</script>

<style scoped>
.v-application {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}
</style>